body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
#BoxGeral
{
    width:800px;
    padding:15px;
    border-radius:7px 7px 7px 7px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    text-align:left;
    background-color:#FFF;
}

#BoxTitulo
{
    width:100%;
    float:left;
    margin-bottom:20px;
}
#BoxFormsGeral
{
    width:100%;
    float:left;
    margin-bottom:10px;
    display:inline-block;
}
#BoxOutrasInformacoes
{
    width:100%;
    float:left;
    display:inline-block;
}
#BoxFormLogin
{
    width:370px;
    display:inline-block;
    float:left;
    text-align:left;
    padding:15px;
}
#BoxCadastro
{
    width:370px;
    display:inline-block;
    float:right;
    text-align:left;
    padding:15px;
}

/* Textos e Links
-----------------------------------------------------------*/
h1
{
    font-family:Arial;
    font-size:45px;
    letter-spacing:-5px;
    font-weight:bold;
    margin:0px;
}

.LinkGeral:link { font-family:Arial; font-size:14px; color:#666; text-decoration:none;}
.LinkGeral:hover { font-family:Arial; font-size:14px; color:#666; text-decoration:underline;}
.LinkGeral:action { font-family:Arial; font-size:14px; color:#666; text-decoration:underline;}
.LinkGeral:visited { font-family:Arial; font-size:14px; color:#CCC; text-decoration:none;}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
